# Text backup files
*.bak

# Database
*.sqlite3

# pycache files
__pycache__

# coverage files for testing
htmlcov
.coverage

# passwords for users created during development
users.txt

# npm
node_modules