<!DOCTYPE html>
<html lang="en">

    <head>
        {% block title %}<title>Movie Jar</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <div class='main'>
            <div>
            {% block sidebar %}
                <ul class='sidebar-nav'>
                    {% if user.is_authenticated %}
                    <li>Welcome {{ user.get_username }}!</li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                    {% endif %}
                </ul>
            {% endblock %}
            </div>
            <div class='content'>{% block content %}{% endblock %}</div>
        </div>
    </body>
</html>