<!DOCTYPE html>
<html lang="en">

    <head>
        {% block title %}<title>Movie Jar</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <div class='main'>
            <div class='navbar'>
            {% block navbar %}
                <h2>Movie Jar!</h2>
                {% if user.is_authenticated %}
                <p>Welcome {{ user.get_username }}!</p>
                <p><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></p>
                {% else %}
                <p><a href="{% url 'login'%}?next={{request.path}}">Login</a></p>
                {% endif %}
            {% endblock %}
            </div>
            <div class='content'>{% block content %}{% endblock %}</div>
        </div>
    </body>
</html>