{% extends "base_generic.html" %}

{% block content %}
<h2>Films</h2>
<hr>

{% if user.is_authenticated %}
<div>
    <h3>Watched:</h3>
    <ul>
        {% for film in user_films %}
        <li>{{ film }}</li>
        {% endfor %}
    </ul>
</div>
<div>
    <h3>To Watch:</h3>
    <ul>
        {% for film in other_films %}
        <li>{{ film }}</li>
        {% endfor %}
    </ul>
</div>
{% else %}
<ul>
    {% for film in all_films %}
    <li>{{ film }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}