{% extends "base_generic.html" %}

{% block content %}
{% if user.is_authenticated %}
<div>
    <h3>Add film:</h3>
    <form action="{% url 'add-film' %}" method="post">
        {% csrf_token %}
        {{ film_form.as_table }}
        <input type="submit" value="Add">
    </form>
</div>
<div>
    <h3>Films watched:</h3>
    <ul>
        {% for film in user_films %}
        <li>{{ film }} <button onClick="fillReviewForm({{ film.id }})">+</button></li>
             <ul>
                {% for review in user_reviews %}
                    {% if review.film == film %}
                    <li>
                        {{ review.date_watched }} <a href="{% url 'delete-review' pk=review.id %}">delete</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
        </li>
    </ul>
</div>
<div>
    <h3>Films to watch:</h3>
    <ul>
        {% for film in other_films %}
        <li>{{ film }} <button onClick="fillReviewForm({{ film.id }})">WATCHED!</button></li>
        {% endfor %}
    </ul>
</div>
<div class="reviewform">
    <h3>Add review:</h3>
    <form id="reviewform", action="{% url 'add-review' %}" method="post">
        {% csrf_token %}
        {{ review_form.as_table }}
        <input type="submit" value="Add">
    </form>
</div>
{% else %}
<h3>Films:</h3>
<ul>
    {% for film in all_films %}
    <li>{{ film }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}