* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    display: flex;
    flex-flow: row wrap;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(180deg, #688EC0, lightsteelblue 100%);
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.navbar > p {
    padding: 10px;
}

.content {
    padding: 10px;
    background-color: lightsteelblue;
    width: 100%;
}

.content > div {
    padding: 5px;
}

ul {
    list-style-type: none;
    margin-block: 10px;
}

li {
    padding: 2px;
    list-style-type: none;
}

h3 {
    margin-block: 10px;;
}

a:link {
    color: #4e0570;
}

a:visited {
    color: #d629b9;
}

#reviewform {
    display: none;
    background-color: azure;
    padding: 5px;
    margin: 12px;
}

#updatereview {
    display: none;
    background-color: azure;
    padding: 5px;
}

ul ul {
    font-size: small;
    margin-block-start: 2px;
    margin-block-end: 15px;
}

ul ul a:link {
    font-style: italic;
}