{% extends "base_generic.html" %}

{% block content %}

<h2>{{ film.title }}</h2>

<table>
    <tr>
        <th>Plot:</th>
        <td>{{ film.plot }}</td>
    </tr>
    <tr>
        <th>Year:</th>
        <td>{{ film.year }}</td>
    </tr>
    <tr>
        <th>IMDB</th>
        <td><a href="https://imdb.com/title/{{ film.imdb_id }}">{{ film.imdb_id }}</a></td>
    </tr>
    <tr>
        <th>Language:</th>
        <td>{{ film.language }}</td>
    </tr>
    <tr>
        <th>Genre:</th>
        <td>{{ film.genre.all|join:", " }}</td>
    </tr>
</table>

<h3>Credits:</h3>
{% if user.is_authenticated %}
<a href="{% url 'person-create' %}">add person</a>
<br>
<a href="{% url 'credit-create' %}">add credit</a>
{% endif %}
<hr>
{% for credit in film.credit_set.all %}
<p>
    {{ credit.get_job_title_display }}: 
    <a href="{{ credit.person.get_absolute_url }}">{{ credit.person.first_name }} {{ credit.person.last_name }}</a> 
    {% if credit.if_actor_character_role != null %} as {{ credit.if_actor_character_role }} {% endif %}
</p>
{% endfor %}

<h3>Reviews:</h3>
{% if user.is_authenticated %}
<a href="{% url 'review-create' %}">add review</a>
{% endif %}
<hr>
{% for review in film.review_set.all %}
{% if not review.private %}
<p>{{ review.get_rating_display }} by {{ review.user.get_username }}</p>
{% endif %}
{% endfor %}

{% endblock %}